<% if @model.is_a? Post %>
  <% post = @model %>
  <h3 id="post_title"><%= link_to post.title, post.url %></h3>
  <%=form_for [:post, @comment] do |f| %>
    <ul>
      <li>
        <%= f.label :text, "Comment" %>
        <%= f.text_area :text, size: "30x5" %>
      </li>
      <li>
        <%= f.submit "Submit Comment" %>
      </li>
    </ul>
  <% end %>
<% end %>

<ul>
<% @comments.each do |comment| %>
  <li>
    <table>
      <tr><th colspan="2"><%= comment.text %></th></tr>
      <% if @model.is_a? User %>
        <tr><td colspan="2">For: <%= link_to comment.post.title, post_comments_path(comment.post) %></td></tr>
      <% end %>
      <tr>
        <td>By: <%= link_to comment.user.username, user_path(comment.user) %></td>
        <td>On: <%= comment.created_at %></td>
      </tr>
    </table>
  </li>
<% end %>
</ul>
