<% if @model.is_a? Post %>
  <% post = @model %>
  <h3><%= link_to post.title, post.url %></h3>
  <%=form_for [:post, @comment] do |f| %>
    <%= f.label :text, "Comment" %>
    <%= f.text_area :text, size: "30x5" %>
    <%= f.submit "Submit Comment" %>
  <% end %>
<% end %>

<ul>
<% @comments.each do |comment| %>
  <li>
    <ul>
      <li><%= comment.text %></li>
      <% if @model.is_a? User %>
        <li>For: <%= link_to comment.post.title, post_comments_path(comment.post) %></li>
      <% end %>
      <li>By: <%= link_to comment.user.username, user_path(comment.user) %></li>
      <li>On: <%= comment.created_at %></li>
    </ul>
  </li>
<% end %>
</ul>
