<ul>
<% @posts.each do |post| %>
<li>
  <table>
    <tr><th colspan="2"><h3><%= link_to post.title, post.url %></h3></th></tr>
    <tr>
      <td>
        Author: <%=link_to post.user.username, user_path(post.user)%>
      </td>
      <td>
        Date: <%= post.created_at %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to post.comments.count.to_s + " Comments", post_comments_path(post) %>
      </td>
      <td>
        <%= post.votes.count.to_s +  " Votes" %> <%= link_to "Up Vote", post_votes_path(post), method: :post %>
      </td>
    </tr>
  </table>
</li>
<% end %>
</ul>
