<%= form_for @post do |f| %>
  <ul>
    <li>
      <%= f.label :title, "Title:" %>
      <%= f.text_field :title %>
    </li>
    <li>
      <%= f.label :url, "URL:" %>
      <%= f.text_field :url %>
    </li>
    <li>
      <%= f.submit "Submit Post"%>
    </li>
  </ul>
<% end %>
<div id="errors"><%= render partial: "model_errors", layout: false, locals: { model: @post } %></div>
